<div class="row nopadormargin" style="height: calc(100vh - 48px - 48px)">
    <div class="col-xs-12" style="background-color: rgb(232, 233, 236); padding: 0px; height: calc(100vh - 48px - 48px)">
        <div id="map" style="width: 100%; height: 100%; border-radius: 10px"></div>
    </div>
</div>
<div class="row nopadormargin otterpop-nav-app">
    <div class="col-xs-12 vert-centre-element" style="height: 100%; padding: 0 16px 0 16px;">
        <a href="#/listing" style="height: 100%; width: 100vw; position: absolute; left: 0"></a>
        <span class="glyphicon glyphicon-flag"></span>&nbsp;{{offers[closest].restaurant.name}}
    </div>
</div>