<div class="modal-body container-fluid" style="background-color: #fff; color: rgb(62, 121, 127); height: 100%; padding: 0px 20px 0px 20px !important; border-top-left-radius: 26px; border-top-right-radius: 26px;">
    <div class="row" style="padding-bottom: 72px !important">
        <div class="vert-centre-element" style="background-color: #fff; position: absolute; height: 100px; width: 100px; border-radius: 50px; top: -50px; left: calc(50% - 50px); box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.22);">
            <div class="text-center" style="width: 100%; margin-top: 4px">
                <span class="glyphicon glyphicon-tag" style="color: rgb(62, 121, 127); font-size: 3.4em"></span>
            </div>
        </div>
    </div>
    <div class="row text-center" style="font-size: 1.25em; color: rgb(79, 81, 89); padding-bottom: 28px !important">
        <b>Offer Details</b>
    </div>
    <div class="row" style="padding-bottom: 24px !important; padding-left: 55px !important; padding-right: 55px !important">
        <div class="col-xs-6 nopadormargin" style="padding-right: 50px !important">
            <div class="row">
                Title
            </div>
            <div class="row">
                <input style="text-align: left;" class="otterpop-restaurant-input" placeholder="Title" type="text" ng-model="offer.title" />
            </div>
        </div>
        <div class="col-xs-3 nopadormargin" style="padding-right: 50px !important">
            <div class="row">
                <span>Active For (hours)</span>
            </div>
            <div class="row">
                <input style="text-align: left;" class="otterpop-restaurant-input" placeholder="Hours" type="text" ng-model="hours" />
            </div>
        </div>
        <div class="col-xs-3 nopadormargin">
            <div class="row">
                Expires
            </div>
            <div class="row">
                <span class="otterpop-restaurant-input" style="border-bottom: none">{{offer.readableExpiry}}</span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 24px !important; padding-left: 55px !important; padding-right: 55px !important">
        <div class="col-xs-4 nopadormargin" style="padding-right: 50px !important">
            <div class="row">
                 Quantity
            </div>
            <div class="row">
                <input style="text-align: left; padding: 0 !important" class="otterpop-restaurant-input" placeholder="Quantity" type="text" ng-model="offer.remainingCoupons" />
            </div>
        </div>
        <div class="col-xs-4 nopadormargin" style="padding-right: 50px !important">
            <div class="row">
                 Normal Price
            </div>
            <div class="row">
                <input style="text-align: left;" class="otterpop-restaurant-input" placeholder="Normal Price" type="text" ng-model="offer.normalPrice" />
            </div>
        </div>
        <div class="col-xs-4 nopadormargin">
            <div class="row">
                 Discount Price
            </div>
            <div class="row">
                <input style="text-align: left;" class="otterpop-restaurant-input" placeholder="Discount Price" type="text" ng-model="offer.discountPrice" />
            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 55px !important; padding-right: 55px !important">
        Terms
    </div>
    <div class="row" style="padding-bottom: 45px !important; padding-left: 55px !important; padding-right: 55px !important">
        <textarea style="text-align: left; resize: none; height: 130px" class="otterpop-restaurant-input" placeholder="Description" type="text" ng-model="offer.body"></textarea>
    </div>
</div>
<div class="modal-footer container-fluid nopadormargin" style="background: #fff; border-radius: 0 0 26px 26px; height: 72px">
    <div class="row">
        <div class="col-xs-6 nopadormargin">
            <button class="btn" style="background-color: rgb(226, 91, 91); color: white; border-radius: 0 0 0 26px !important; font-size: 1.4em; height: 72px; width: 100%" ng-click="cancel()"><b>Cancel</b></button>
        </div>
        <div class="col-xs-6 nopadormargin">
            <button class="btn" style="background-color: rgb(49, 176, 52); color: white; border-radius: 0 0 26px 0 !important; font-size: 1.4em; height: 72px; width: 100%" ng-click="done()"><b>Next</b></button>
        </div>
    </div>
</div>